# External Express API demo
EXTERNAL_API_PORT=4010
EXTERNAL_API_BASE=http://127.0.0.1:4010
NUXT_PUBLIC_EXTERNAL_API_BASE=http://127.0.0.1:4010

# MySQL demo
# Format: mysql://user:password@host:port/database
MYSQL_URL=mysql://nuxt_lab_app:change_me@127.0.0.1:3306/nuxt_lab

# PostgreSQL demo
# Format: postgresql://user:password@host:port/database
POSTGRES_URL=postgresql://nuxt_lab_app:change_me@127.0.0.1:5432/nuxt_lab

# Auth demo
# Change this to a long random string in real projects.
AUTH_TOKEN_SECRET=local-dev-auth-secret-change-me
